@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-list {
  display: flex;
  flex-flow: row-reverse wrap;
}
.nav-list li {
  font-weight: bold;
  font-size: 0.9rem;
  color: #FFFFFF;
  padding: 0.8em 2em;
  list-style: none;
  border-radius: 5rem;
  transition-duration: 0.3s;
  cursor: pointer;
}
.nav-list li:hover {
  background-color: #5751d4;
  opacity: 0.9;
}
.nav-list :nth-child(1) {
  margin-right: 5em;
}
.nav-list :nth-child(2) {
  margin-left: 5em;
}

.container-search {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 5em;
}
.container-search .container-words {
  width: 25rem;
  max-width: 100%;
}
.container-search .container-words .legend {
  font-size: 0.9rem;
}
.container-search .container-words .tittle {
  font-size: 1.8rem;
}
.container-search .container-words .tittle .important {
  font-weight: bold;
}
.container-search .container-words .search-bar {
  position: relative;
  margin-top: 5rem;
  padding: 5px;
}
.container-search .container-words .search-bar input {
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 14px;
  outline: none;
  border: 1px solid #CCCCCC;
  border-radius: 30px;
  box-shadow: 5px 5px 15px #000000;
}
.container-search .container-words .search-bar .btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 35px;
  height: 35px;
  background: #D5A311;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.5s;
}
.container-search .container-words .search-bar .btn:hover {
  background: #FF0F00;
}
.container-search .container-img img {
  width: 350px;
  height: 350px;
  max-width: 100%;
}

.card {
  margin: 3em;
  width: 320px;
  height: 420px;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 3px 3px 10px #000000;
  transition: transform 0.3s;
}
.card .card-img {
  width: 100%;
  height: 10rem;
}
.card .information {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  overflow: hidden;
  margin-top: 2em;
  margin-left: 1em;
}
.card .information .work {
  font-weight: bolder;
}
.card .information .company {
  margin-top: 1em;
  font-weight: bolder;
  opacity: 0.7;
}
.card .information .address {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 0.5em;
}
.card .information .hiring {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
  margin-right: 1.5em;
}
.card .information .hiring .data .value {
  display: block;
  font-size: 2rem;
  background-image: linear-gradient(#9a01cf, #0943ea);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.card .information .hiring .data span {
  opacity: 0.7;
}
.card .information .hiring .puzzle {
  padding: 0.3em;
  font-size: 2.5rem;
  color: #9a01cf;
  border-radius: 50%;
  transition-duration: 0.7s;
  cursor: pointer;
}
.card .information .hiring .puzzle:hover {
  color: #ffffff;
  background: #9a01cf;
}

.card:hover {
  transform: scale(1.1);
}

.tag {
  text-align: center;
  font-weight: bold;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

body {
  height: 100%;
  font-family: "Lato", sans-serif;
  background: linear-gradient(#4f4aa1, #b4b4b4);
}

/*# sourceMappingURL=main.css.map */
