@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "components/_normalize";
@import "components/navbar";
@import "components/search";
@import "components/container-cards";

body{
    height: 100%;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(#4f4aa1,#b4b4b4);
}